{% extends 'base.html.twig' %}

{% block title %}Liste des genres{% endblock %}
{% block pageTitle %}Liste des genres{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
     <a href="{{ url('app_genre_create') }}"
            class="btn btn-outline-light">
            Créer
    </a>
     <a href="{{ url('app_acteurs') }}"
            class="btn btn-dark btn-lg">
            Acteurs
    </a>
     <a href="{{ url('app_films') }}"
            class="btn btn-dark btn-lg">
            Films
    </a>
    </div>
</nav>

<table class="table table-hover">
    <thead>
        <tr bgcolor='#787878'>
            <th>Catégorie</th>
            <th>Paramètres</th>
        </tr>
    </thead>

    <tbody>
        {% for genre in genres %}
        <tr>
            <td>{{ genre.categorie }}</td>
            <td>
                <a href="{{ url('app_genre_edit', {'genre': genre.id}) }}">Modifier</a>
                <a href="{{ url('app_genre_delete', {'genre': genre.id}) }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}