{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}
{% block pageTitle %}Liste des films{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
     <a href="{{ url('app_films') }}"
            class="btn btn-dark btn-lg">
            Tous les films
    </a>
     <a href="{{ url('app_acteurs') }}"
            class="btn btn-dark btn-lg">
            Acteurs
    </a>
     <a href="{{ url('app_genre') }}"
            class="btn btn-dark btn-lg">
            Genre
    </a>
    </div>
</nav>
    
<table class="table table-hover">
    <thead>
        <tr bgcolor='#787878'>
            <th>Id</th>
            <th>Titre</th>
            <th>Résumé</th>
            <th>Sortie</th>
            <th>Affiche</th>
            <th>Acteurs</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>{{ film.id }}</td>
            <td>{{ film.titre }}</td>    
            <td>{{ film.resume }}</td>
            <td>{{ film.anneeSortie|date("d/m/Y")}}</td>
            <td>
            {% if film.affiche is not null %}
               <img src="{{asset('affiches/'~film.affiche)}}" style="width: 100px">
            {% endif %}
            </td>
            <td>
             {% for acteur in film.acteurs %}
                <a href="{{ url('acteur', {'id': acteur.id}) }}" >{{ acteur.nom }}</a>
            {%endfor%}
            </td>
            <td>
              <a href="{{ url('liste', {'genreid': film.genre.id}) }}">{{film.genre.categorie}}</a>
              </td>
         
        </tr>

    </tbody>
</table>

{% endblock %}