{# {{ form_start(form) }}
{{ form_rest(form) }}
<div class="nav" style="font-size: 1.2em">
     <a href="{{ url('app_films') }}"
            class="border border-gray-700 rounded-md px-4 py-1">
            Retour
    </a>
    <button>{{button|default('Enregistrer')}}</button>
</div>
{{ form_end(form) }} #}