{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}
{% block pageTitle %}Liste des films{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
     <a href="{{ url('app_films_create') }}"
            class="btn btn-outline-light">
            Ajouter
    </a>
     <a href="{{ url('app_acteurs') }}"
            class="btn btn-dark btn-lg">
            Acteurs
    </a>
     <a href="{{ url('app_genre') }}"
            class="btn btn-dark btn-lg">
            Genre
    </a>
    </div>
</nav>

<table class="table table-hover">
    <thead>
        <tr bgcolor='#787878'>
            <th>Titre</th>
            <th>Sortie</th>
            <th>Affiche</th>
            <th>Paramètres</th>
        </tr>
    </thead>
    <tbody>
        {% for film in films %}
        <tr>
            <td> <a href="{{ url('film', {'id': film.id}) }}" >{{ film.titre }}</a></td>
            <td>{{ film.anneeSortie|date("d/m/Y")}}</td>
            <td>
            {% if film.affiche is not null %}
               <img src="{{asset('affiches/'~film.affiche)}}" style="width: 100px">
            {% endif %}
            </td>
            <td>
                <a href="{{ url('app_films_edit', {film: film.id}) }}">Modifier</a>
                <a href="{{ url('app_films_delete', {id: film.id}) }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}