{% extends 'base.html.twig' %}

{% block title %}Liste des acteurs{% endblock %}
{% block pageTitle %}Liste des acteurs{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
     <a href="{{ url('app_acteurs') }}"
            class="btn btn-dark btn-lg">
            Tous les acteurs
    </a>
     <a href="{{ url('app_films') }}"
            class="btn btn-dark btn-lg">
            Films
    </a>
     <a href="{{ url('app_genre') }}"
            class="btn btn-dark btn-lg">
            Genre
    </a>
    </div>
</nav>

<table class="table table-hover">
    <thead>
        <tr bgcolor='#787878'>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Date de mort</th>
            <th>Photo</th>
            <th>Paramètres</th>
        </tr>
    </thead>
    <tbody>

        <tr> 
            <td>{{ acteur.id }}</td>
            <td>{{ acteur.nom }}</td>
            <td>{{ acteur.prenom }}</td>
            <td>{{ acteur.dateNaissance|date("d/m/Y")}}</td>
            <td>
            {% if acteur.dateDeces is not null %}
            {{ acteur.dateDeces|date("d/m/Y") }}
            {% endif %}
            </td>
            <td>
            {% if acteur.photo is not null %}
               <img src="{{asset('photos/'~acteur.photo)}}" style="width: 200px">
            {% endif %}
            </td>
            <td>
                <a href="{{ url('app_acteur_edit', {acteur: acteur.id}) }}">Modifier</a>
                <a href="{{ path("app_acteur_delete",{id:acteur.id}) }}">Supprimer</a>
            </td>
        </tr>

    </tbody>
</table>

{% endblock %}